* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  font-family: 'Outfit';
}
body {
  background-color: var(--body-color);
  font-family: 'Manrope', sans-serif;
  font-family: 'Outfit', sans-serif;
  font-family: 'Poppins', sans-serif;
}
.nav-4 {
  display: none;
}

/*!sssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss landing */

.landing .container {
  display: flex;
  gap: 15px;
}
.landing .left {
  max-width: 67%;
}
.landing .left .card {
  border: none;
  overflow: hidden;
  background-color: var(--searchBord-3);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 500px;
  padding: 0 50px;
  align-items: center;
  position: relative;
}
.landing .left .card div {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.landing .left .card img {
  width: 42%;
  z-index: 2;
}
.landing .left .card .wave3 {
  position: absolute;
  bottom: -56px;
  right: -41px;
  opacity: 0.07;
  width: 67%;
  z-index: 1;
}
.landing .left .card div h5 {
  font-size: 17px; 
  color: var(--paragraph);
}
.landing .left .card div h5 span {
  font-size: 25px;
  color: var(--text-color);
  font-weight: 600;
  margin-left: 10px;
}
.landing .left .card div h3 {
  font-size: 30px;
  max-width: 459px;
  font-weight: 600;
  color: var(--text-color);
}
.landing .left .card div p {
  max-width: 412px;
  color: var(--paragraph);
}
.landing .right {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.landing .left .card a {
  width: fit-content;
}
.landing .right .holder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  background: var(--searchBord-3);
  position: relative;
  height: 100%;
}
.landing .right .holder div {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.landing .right .holder .div2 {
  gap: 13px;
}
.landing .right .holder h3 {
  font-size: 20px;
  color: var(--text-color);
}
.landing .right .holder p {
  font-size: 15px;
  color: #8895b2;
}
.landing .right .holder span {
  font-size: 20px;
  font-weight: 600;
  color: var(--main-color);
}
.landing .right .holder a {
  color: white;
  background: var(--main-color);
  padding: 10px 25px;
  width: fit-content;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  transition: 0.3s;
}
.landing .right .holder a:hover {
  background-color: #1774f7;
}
.landing .right .holder-2 {
  background-image: url(../img/small-banner-bg.png);
  background-color: var(--input-color2);
  background-size: cover;
  color: white;
}
.landing .right .holder-2 h3 {
  font-size: 25px;
  color: white;
}
.landing .right .holder-2 p {
  max-width: 357px;
  color: white;
  font-size: 16px;
}

/*!sssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss categories */

.categories .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(305px, 1fr));
  gap: 27px;
}
.categories .card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 18px 10px 30px;
  background-color: var(--input-color);
  align-items: center;
  transition: 0.3s;
  border: none;
  height: 245px;
  box-shadow: 0px 0px 20px #00000012;
}
.categories .card:hover {
  transform: translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.categories .card img {
  max-width: 46%;
}
.categories .card div h4 {
  font-size: 17px;
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: 15px;
}
.categories .card div ul a {
  display: block;
  margin-bottom: 5px;
  color: var(--paragraph);
  transition: 0.3s;
}
.categories .card div ul a:hover {
  color: var(--main-color);
  margin-left: 8px;
}

/*!sssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss categories */

.Product .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}
.main-card {
  color: var(--text-color);
  border: none;
  background-color: var(--input-color);
  box-shadow: 0px 0px 20px #00000012;
}
.main-card .image {
  position: relative;
  overflow: hidden;
}
.main-card .image img {
  width: 100%;
  transition: 0.3s;
}
.main-card .image a {
  position: absolute;
  bottom: -60px;
  right: 27%;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}
.main-card .image:hover img {
  scale: 1.1;
  transition: 0.3s;
}
.main-card .image:hover a {
  bottom: 30px;
  opacity: 1;
  visibility: inherit;
}
.main-card .image a i {
  font-size: 18px;
}
.main-card .image span {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 4px 10px;
  border-radius: 2px;
  color: white;
  font-size: 13px;
  font-weight: 500;
  font-family: system-ui;
}
.main-card .image .red {
  background: #f73232;
}
.main-card .image .blue {
  background: #0167f3;
}
.main-card p {
  font-size: 13px;
  font-weight: 500;
  color: var(--paragraph);
}
.main-card h3 {
  font-size: 17px;
  color: var(--text-color);
  margin: 10px 0 3px;
}
.main-card .holder {
  padding: 28px;
  padding-top: 0;
}
.review {
  display: flex;
  gap: 8px;
}
.review .stars i {
    color: gold;
    font-size: 12px;
}
.review p {
  position: relative;
  top: 4px;
  color: var(--paragraph);
}
.main-card h4 {
  font-size: 17px;
  font-weight: 800;
  color: var(--main-color);
  margin-top: 12px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.main-card h4 P {
  text-decoration: line-through;
}

/*!sssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss banner */

.banner {
  padding: 150px 0 90px; 
} 
.banner .container {
  display: flex;
  gap: 25px;
}
.banner .card {
  background-color: var(--input-color);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 70px 40px;
  position: relative;
  width: 50%;
  height: 315px;
  border: none;
  box-shadow: 0px 0px 20px #00000012;
}
.banner .card div h3 {
  color: var(--text-color);
  font-weight: 500;
  font-size: 25px;
}
.banner .card div p {
  color: var(--paragraph);
  max-width: 315px;
  margin: 20px 0;
}
.banner .card .img1 {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.banner .card div {
  z-index: 3;
}
body.dark .banner .wave {
  display: block;
  position: absolute;
  max-width: 54%;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.banner .card div a {
  width: fit-content;
}
.banner .card .wave {
display: none;
}

/*!sssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss offer */

.offer {
  padding-bottom: 90px;
}
.offer .container {
  display: flex;
  justify-content: space-between;
}
.offer .bigHolder  {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 66%;
}
.offer .bigHolder .products  {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
  grid-gap: 20px;
}
.offer .main-card .image {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.offer .main-card .image img {
  width: 80%;
}
.offer .bigHolder .new  {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--input-color);
  padding: 28px 28px 50px 28px;
  box-shadow: 0px 0px 20px #00000012;
  position: relative;
}
.offer .bigHolder .new .nvidia {
  position: absolute;
  width: 15%;
  top: 20px;
  right: 0;
}
.offer .bigHolder .new img  {
  width: 45%;
}
.offer .bigHolder .new .text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  top: 32px;
}
.offer .bigHolder .new .text h3  {
  color: var(--text-color);
  font-size: 25px;
}
.offer .bigHolder .new .text p  {
  max-width: 320px;
  color: var(--paragraph);
  text-align: right;
}
.offer .bigHolder .new .text span  {
  display: block;
  color: var(--main-color);
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0 15px;
}
.offer .sale {
  width: 32%;
  background: var(--input-color);
  box-shadow: 0px 0px 20px #00000012;
  padding: 28px;
  height: fit-content;
}
.offer .sale .image {
  margin-bottom: 30px;
}
.offer .sale .image img {
  max-width: 100%;
}
.offer .sale a {
  transition: 0.3s;
  font-size: 20px;
  font-weight: 600;
  color: white;
}
.offer .sale a:hover {
  background-color: var(--hover-color);
}
.offer .sale span {
  display: flex;
  gap: 12px;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  color: var(--main-color);
}
.offer .sale span p {
  display: flex;
  gap: 12px;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  color: var(--paragraph);
  margin: 8px 0;
  text-decoration: line-through;
}
.offer .sale p {
  color: var(--paragraph);
}
.offer .sale h2 {
  color: var(--text-color);
  font-size: 20px;
  text-align: center;
  margin: 30px 0 8px;
}
.offer .sale .timer {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 20px;
}
.offer .sale .timer span {
  display: flex;
}
.offer .sale .timer div {
  display: flex; 
  flex-direction: column;
  align-items: center;
}
.offer .sale .timer div h4 {
  color: var(--paragraph);
  font-size: 13px;
}

/*!sssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss services */

.sellers {
  padding: 60px 0;
}
.sellers .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(313px, 1fr));
  grid-gap: 30px;
}
.sellers .card {
  padding: 29px;
  background-color: var(--input-color);
  border: none;
}
.sellers h1 {
  font-size: 16px;
  font-weight: 600;
  position: relative;
  color: var(--text-color);
  margin-bottom: 44px;
}
.sellers h1::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 3px;
  bottom: -18px;
  left: 0;
  background: var(--main-color);
}
.sellers li {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sellers img {
  max-width: 80px;
}
.sellers .text h5 {
  color: var(--text-color);
  font-size: 16px;
}
.sellers .text span {
  color: var(--paragraph);
  font-size: 14px;
  margin-top: 5px;
  display: block;
}

/*!sssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss brands */

.brands .container {
  background-color: var(--searchBord-3);
  padding: 30px 0 30px 15px;
  position: relative;
  display: flex;
  overflow: hidden;
}
.brands .container::before,
.brands .container::after {
  content: "";
  position: absolute;
  top: 0;
  width: 60px;
  height: 100%;
  background-color: var(--searchBord-3);
  z-index: 100;
}
.brands .container::before {
  left: 0;
}
.brands .container::after {
  right: 0;
}
.brands swiper-slide {
  max-width: 200px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.brands .card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 136px;
    width: fit-content;
    background: transparent;
    border: none;
    margin: 0 30px;
}
.brands img {
  max-width: 100px;
  filter: grayscale(1);
  transition: 0.3s;
}
body.dark .brands img {
  filter: grayscale(0);
}
.brands img:hover {
  filter: grayscale(0);
}


/*!sssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss latest */

.latest {
  padding: 90px 0px 50px;
}
.latest .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(313px, 1fr));
  grid-gap: 30px;
}
.latest .card {
  background-color: var(--input-color);
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 0;
  box-shadow: 0px 0px 20px #00000012;
}
.latest .card .image {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  overflow: hidden;
}
.latest .card img {
  width: 100%;
}
.latest .card .text {
  padding: 20px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.latest .card h3 {
  font-size: 19px;
  color: var(--text-color);
}
.latest .card p:first-child {
  margin-bottom: -8px;
}
.latest .card p {
  color: var(--paragraph);
  font-size: 14px;
  letter-spacing: -0.1px;
}
.latest .card h3 {
  transition: 0.3s;
  font-weight: 400;
}
.latest .card h3:hover {
  color: var(--hover-color);
}
.latest .card .main-buttom {
  width: fit-content;
}

/*!sssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss services */

.services {
  padding: 90px 0px 10px;
}
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
  grid-gap: 20px;
}
.services .card {
  background-color: var(--input-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  padding: 30px;
  border: none;
  transition: 0.3s;
  box-shadow: 0px 0px 20px #00000012;
}
.services .card:hover {
  transform: translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.services .card i {
  font-size: 35px;
  color: var(--main-color);
  margin-bottom: 17px;
}
.services .card h3 {
  color: var(--text-color);
  font-size: 17px;
}  
.services .card p {
  color: var(--paragraph);
}

































































@media (min-width: 1400px) {

}
@media (min-width: 992px) {
  .landing .right .holder-2 {
    height: 100%;
  }
  .landing .right .holder img {
    width: 30%;
  }
}

@media (max-width: 992px) {
  .landing .container {
    flex-direction: column;
  }
  .landing .left {
    max-width: 100%;
  }
  .landing .right {
    flex-direction: row;
  } 
  .landing .left .card div h3 {
    max-width: 353px; 
  }
  .landing .left .card div p {
    max-width: 321px; 
  }
  .landing .right .holder {
    padding: 30px;
    width: 50%;
  }
  .landing .right .holder-2 {
    height: 265px;
  }
  .categories .card {
    padding: 0 18px 0 30px;
  }
  .banner .container {
    flex-direction: column;
  }
  .banner .card {
    width: 100%;
  }
  .banner .card .img1 {
    opacity: 0.3;
  }
  .offer .container {
    flex-direction: column;
    gap: 30px;
  }
  .offer .bigHolder {
    width: 100%;
  }
  .offer .sale {
    width: 100%;
  }
  .offer .bigHolder .new {
    padding-right: 28px;
  }
  .offer .sale .image {
    display: flex;
    justify-content: center;
  }
  .offer .sale a {
    font-size: 21px;
    padding: 8px 0;
  }
  .offer .sale span {
    font-size: 26px;
  }
  .offer .sale p {
    max-width: 543px;
  }
  .sale .review {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .main-title p {
    max-width: 333px !important;
  }
  .landing .right {
    flex-direction: column;
  }
  .landing .left .card div p {
    max-width: 190px;
  } 
  .landing .left .card div a {
    margin-top: 0;
  }
  .landing .left .card div h3 {
    max-width: 230px;
    font-size: 20px;
  } 
  .landing .left .card div h5 span {
    font-size: 21px; 
  }
  .landing .left .card {
    height: 450px;
  }
  .landing .right .holder {
    width: 100%;
    padding: 18px 30px;
  } 
  .landing .right .holder .div2 {
    margin: 18px 0px;
  }
  .landing .left .card img {
    width: 80%;
    z-index: 2;
    position: absolute;
    right: -148px;
  }
  .landing .left .card {
    padding: 0 30px;
  }
  .offer .sale p {
    font-size: 14px;
  }
  .sale .review {
    align-items: center;
  }
  .offer .bigHolder .new {
    flex-direction: column;
  }
  .offer .bigHolder .new img {
    width: 100%;
  }
  .offer .bigHolder .new .text {
    align-items: center;
  }
  .offer .bigHolder .new .nvidia {
    width: 20%;
  }
  .offer .bigHolder .new .text p {
    text-align: center;
    margin: 6px 0 0px;
  }
  .offer .sale h2 { 
    font-size: 17px;
  }
  .brands {
    display: none;
  }
  .latest {
    padding-top: 0px;
  }
}

