* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  font-family: 'Outfit';
}
body {
  background-color: var(--body-color);
  font-family: 'Manrope', sans-serif;
  font-family: 'Outfit', sans-serif;
  font-family: 'Poppins', sans-serif;
}


/*!sssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss landing */

.landing {
  margin-top: 60px;
}
.landing .container {
  display: flex;
  gap: 15px;
}
.landing .left {
  max-width: 67%;
}
.landing .left .card {
  border: none;
  overflow: hidden;
  background-color: var(--text-color-2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 500px;
  padding: 0 50px;
  align-items: center;
  position: relative;
}
.landing .left .card div {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.landing .left .card img {
  width: 46%;
  z-index: 2;
}
.landing .left .card .wave3 {
  position: absolute;
  bottom: -56px;
  right: -41px;
  opacity: 0.07;
  width: 67%;
  z-index: 1;
}
.landing .left .card div h5 {
  font-size: 17px;
  color: var(--paragraph);
  display: flex;
  align-items: center;
  gap: 10px;
}
.landing .left .card div h5 span {
  font-size: 25px;
  color: var(--text-color);
  font-weight: 600;
}
.landing .left .card div h5 span.price2 {
  color: var(--paragraph);
  text-decoration: line-through;
  font-size: 19px;
  font-weight: 500;
}
.landing .left .card div h3 {
  font-size: 30px;
  max-width: 459px;
  font-weight: 600;
  color: var(--text-color);
}
.landing .left .card div p {
  max-width: 412px;
  color: var(--paragraph);
}
.landing .right {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.landing .right .holder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  background-color: var(--text-color-2);
  position: relative;
  height: 100%;
}
.landing .right .holder div {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.landing .right .holder .div2 {
  gap: 13px;
}
.landing .right .holder h3 {
  font-size: 20px;
  color: var(--text-color);
}
.landing .right .holder p {
  font-size: 15px;
  color: #8895b2;
}
.landing .right .holder span {
  font-size: 20px;
  font-weight: 600;
  color: var(--main-color);
}

.landing .right .holder a:hover {
  background-color: var(--hover-color);
}
.landing .right .holder-2 {
  background-image: url(../img/small-banner-bg.png);
  background-color: var(--input-color2);
  background-size: cover;
  color: white;
}
.landing .right .holder-2 h3 {
  font-size: 25px;
  color: white;
}
.landing .right .holder-2 p {
  max-width: 357px;
  color: white;
  font-size: 16px;
}

/*!sssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss categories */

.categories .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(305px, 1fr));
  gap: 27px;
}
.categories .card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 18px 10px 30px;
  background-color: var(--input-color);
  align-items: center;
  transition: 0.3s;
  border: none;
  height: 245px;
  box-shadow: 0px 0px 20px #00000012;
}
.categories .card:hover {
  transform: translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.categories .card img {
  max-width: 46%;
}
.categories .card div h4 {
  font-size: 17px;
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: 15px;
}
.categories .card div ul a {
  display: block;
  margin-bottom: 5px;
  color: var(--paragraph);
  transition: 0.3s;
}
.categories .card div ul a:hover {
  color: var(--main-color);
  margin-left: 8px;
}
.Product .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 25px;
}

/*!sssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss banner */

.banner {
  padding: 150px 0 90px; 
} 
.banner .container {
  display: flex;
  gap: 25px;
}
.banner .card {
  background-color: var(--input-color);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 70px 40px;
  position: relative;
  width: 50%;
  height: 315px;
  border: none;
  box-shadow: 0px 0px 20px #00000012;
}
.banner .card div h3 {
  color: var(--text-color);
  font-weight: 500;
  font-size: 25px;
}
.banner .card div p {
  color: var(--paragraph);
  max-width: 315px;
  margin: 20px 0;
}
.banner .card .img1 {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.banner .card div {
  z-index: 3;
}
body.dark .banner .wave {
  display: block;
  position: absolute;
  max-width: 54%;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.banner .card .wave {
display: none;
}

/*!sssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss offer */

.offer {
  padding-bottom: 90px;
}
.offer .container {
  display: flex;
  justify-content: space-between;
}
.offer .bigHolder  {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 66%;
}
.offer .bigHolder .products  {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
  grid-gap: 20px;
}
.offer .main-card .image {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.offer .main-card .image img {
  width: 80%;
}
.offer .bigHolder .new  {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: var(--input-color);
  padding: 28px 35px 30px 35px;
  box-shadow: 0px 0px 20px #00000012;
  position: relative;
}
.offer .bigHolder .new .nvidia {
  position: absolute;
  width: 15%;
  top: 20px;
  right: 0;
}
.offer .bigHolder .new img  {
  width: 56%;
  position: relative;
  right: 47px;
}
.offer .bigHolder .new .text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  top: 32px;
}
.offer .bigHolder .new .text h3  {
  color: var(--text-color);
  font-size: 25px;
}
.offer .bigHolder .new .text p  {
  max-width: 320px;
  color: var(--paragraph);
  text-align: right;
}
.offer .bigHolder .new .text span  {
  display: block;
  color: var(--main-color);
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0 15px;
}
.offer .sale {
  width: 32%;
  background: var(--input-color);
  box-shadow: 0px 0px 20px #00000012;
  padding: 28px;
  height: fit-content;
}
.offer .sale h3 {
  color: var(--text-color);
  font-size: 20px;
  transition: 0.3s;
  cursor: pointer;
}
.offer .sale h3:hover {
  color: var(--main-color);
}
.offer .sale .image {
  margin-bottom: 30px;
}
.offer .sale .image img {
  max-width: 100%;
}
.offer .sale a {
  transition: 0.3s;
  font-size: 20px;
  font-weight: 600;
  color: white;
  width: 100%;
  height: 50px;
}
.offer .sale a:hover {
  background-color: var(--hover-color);
}
.offer .sale span {
  display: flex;
  gap: 12px;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  color: var(--main-color);
}
.offer .sale span p {
  display: flex;
  gap: 12px;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  color: var(--paragraph);
  margin: 8px 0;
  text-decoration: line-through;
}
.offer .sale p {
  color: var(--paragraph);
}
.offer .sale h2 {
  color: var(--text-color);
  font-size: 20px;
  text-align: center;
  margin: 30px 0 8px;
}
.offer .sale .timer {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 20px;
}
.offer .sale .timer span {
  display: flex;
}
.offer .sale .timer div {
  display: flex; 
  flex-direction: column;
  align-items: center;
}
.offer .sale .timer div h4 {
  color: var(--paragraph);
  font-size: 13px;
}

/*!sssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss services */

.sellers {
  padding: 60px 0;
}
.sellers .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(313px, 1fr));
  grid-gap: 30px;
}
.sellers .card {
  padding: 29px;
  background-color: var(--input-color);
  border: none;
}
.sellers h1 {
  font-size: 16px;
  font-weight: 600;
  position: relative;
  color: var(--text-color);
  margin-bottom: 44px;
}
.sellers h1::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 3px;
  bottom: -18px;
  left: 0;
  background: var(--main-color);
}
.sellers li {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sellers img {
  max-width: 80px;
}
.sellers .text h5 {
  color: var(--text-color);
  font-size: 16px;
}
.sellers .text span {
  color: var(--paragraph);
  font-size: 14px;
  margin-top: 5px;
  display: block;
}

/*!sssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss brands */

.brands .container {
  background-color: var(--text-color-2);
  padding: 30px 0 30px 15px;
  position: relative;
  display: flex;
  overflow: hidden;
}
.brands .container::before,
.brands .container::after {
  content: "";
  position: absolute;
  top: 0;
  width: 60px;
  height: 100%;
  background-color: var(--text-color-2);
  z-index: 100;
}
.brands .container::before {
  left: 0;
}
.brands .container::after {
  right: 0;
}
.brands swiper-slide {
  max-width: 200px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.brands .card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 136px;
    width: fit-content;
    background: transparent;
    border: none;
    margin: 0 30px;
}
.brands img {
  max-width: 100px;
  filter: grayscale(1);
  transition: 0.3s;
}
body.dark .brands img {
  filter: grayscale(0);
}
.brands img:hover {
  filter: grayscale(0);
}


/*!sssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss latest */

.latest {
  padding: 90px 0px 50px;
}
.latest .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(313px, 1fr));
  grid-gap: 30px;
}
.latest .card {
  background-color: var(--input-color);
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 0;
  box-shadow: 0px 0px 20px #00000012;
}
.latest .card .image {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  overflow: hidden;
}
.latest .card img {
  width: 100%;
}
.latest .card .text {
  padding: 20px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.latest .card h3 {
  font-size: 19px;
  color: var(--text-color);
}
.latest .card p:first-child {
  margin-bottom: -8px;
}
.latest .card p {
  color: var(--paragraph);
  font-size: 14px;
  letter-spacing: -0.1px;
}
.latest .card h3 {
  transition: 0.3s;
  font-weight: 400;
}
.latest .card h3:hover {
  color: var(--hover-color);
}

/*!sssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss services */

.services {
  padding: 90px 0px 10px;
}
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
  grid-gap: 20px;
}
.services .card {
  background-color: var(--input-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  padding: 30px;
  border: none;
  transition: 0.3s;
  box-shadow: 0px 0px 20px #00000012;
}
.services .card:hover {
  transform: translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.services .card:hover i {
  color: var(--hover-color);
}
.services .card i {
  font-size: 35px;
  color: var(--main-color);
  margin-bottom: 17px;
  transition: 0.5s;
}
.services .card h3 {
  color: var(--text-color);
  font-size: 17px;
}  
.services .card p {
  color: var(--paragraph);
}

/*!sssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss about */
.nav-4 {
  display: flex;
}
.grid {
  padding: 100px 0 30px;
}
.grid .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 107px;
}
.grid .image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid .image img {
  min-width: 112%;
}
.grid .text h3 {
  font-size: 32px;
  max-width: 528px;
  font-weight: 700;
  margin-bottom: 16px;
  color: var(--text-color);
}
.grid .text p {
  color: var(--paragraph);
  margin-bottom: 25px;
  max-width: 639px;
}
.grid .container .video {
  position: fixed;
  background-color: rgb(29 30 32 / 93%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  display: none;
}
.grid .container .video.videoClicked {
  display: block;
}
.grid .container .video .iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.grid .container .video button {
  position: absolute;
  background: var(--divs-color);
  display: flex;
  border: none;
  padding: 6px;
  right: 20px;
  border-radius: 6px;
  font-size: 31px;
  color: white;
}
.grid .openVideo {
  border: none;
  background-color: transparent;
  position: absolute;
  z-index: 3;
}
.grid .openVideo i {
  color: white;
  background-color: var(--main-color);
  font-size: 35px;
  border-radius: 50%;
  padding: 9px;
}
.grid .flashing1, 
.grid .flashing2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0%;
  height: 0%;
  background-color: var(--main-color);
  border-radius: 50px;
  z-index: -1;
}
.grid .flashing1 {
  animation: boww 1.5s ease-in-out infinite;
}
.grid .flashing2 {
  animation: boww 1.5s 0.5s ease-in-out infinite;
}
@keyframes boww {
  0%{
    opacity: 0.8;
    width: 100%;
    height: 100%;
  }
  100% {
    opacity: 0;
    width: 180%;
    height: 180%;
  } 
}

.team {
  padding: 60px 0 0px;
  margin-bottom: -45px;
}
.team .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 27px;
}
.team .card {
  background: var(--input-color);
  border: none;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px;
}
.team .card:hover {
  transform: translateY(-15px);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.team .card img {
  width: 140px;
  border-radius: 76px;
  margin-bottom: 25px;
}
.team .card h4 {
  color: var(--text-color);
  font-size: 16px;
  margin-bottom: 5px;
}
.team .card h5 {
  color: var(--paragraph);
  font-size: 13px;
  margin-bottom: 10px;
}
.team .card .icons {
  display: flex;
  gap: 6px;
}
.team .card .icons i {
  color: var(--text-color);
  border: 2px solid var(--input-color);
  padding: 7px 7px;
  font-size: 16px;
  border-radius: 50px;
  transition: 0.3s;
}
.team .card .icons i:hover {
  color: white;
  background-color: var(--main-color);
  border-color: var(--main-color);
}

/*!sssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss contact us */

.form .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form .info-contact {
  width: 30%;
  padding: 30px;
  padding-top: 56px;
  border: 1px solid var(--searchBord-3);
  background: var(--body-color);
}
.form .info-contact .box-contact {
  margin-bottom: 25px;
}
.form .info-contact .box-contact i {
  color: var(--main-color);
  font-size: 25px;
  margin-bottom: 7px;
}
.form .info-contact .box-contact h4 {
  color: var(--text-color);
  font-size: 17px;
  margin-bottom: 7px;
}
.form .info-contact .box-contact p {
  color: var(--paragraph);
}
.form .info-contact .box-contact a {
  color: var(--paragraph);
  transition: 0.3s;
}
.form .info-contact .box-contact a:hover {
  color: var(--main-color);
}
.form .info-contact hr {
      color: var(--paragraph);
}
.form .info-contact .icons {
  display: flex;
  gap: 16px;
  margin: 16px 0 0px;
}
.form .info-contact .icons i {
  font-size: 25px;
  background: var(--body-color);
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: 0.3s;
}
.form .info-contact .icons i:hover {
  color: white;
  background-color: var(--main-color);
}
.contact {
  background-color: var(--body-color);
  padding: 53px 35px 35px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid var(--searchBord-3);
  width: 66%;
}
.contact img {
  position: absolute;
  width: 55px;
  right: 36px;
  top: 30px;
}
.contact label {
  font-size: 14px;
  color: var(--text-color);
  margin-bottom: 10px;
}
.contact .input {
  display: flex;
  gap: 35px;
  margin-bottom: 30px;
}
.contact .input div {
  width: 50%;
}
.contact .input input {
  background-color: var(--input-color);
  padding: 12px 15px;
  border-radius: 7px;
  outline: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  border: 1px solid var(--searchBord-3);
}
.contact .input input:focus {
  border: 1px solid var(--main-color);
}
.contact .textarea {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact .textarea label {
  margin-bottom: 0px;
}
.contact .textarea textarea {
  background-color: var(--input-color);
  font-size: 16px;
  padding: 14px 22px;
  outline: none;
  border-radius: 8px;
  border: 1px solid var(--searchBord-3);
}
.contact .textarea textarea:focus {
  border: 1px solid var(--main-color);
}
.form .main-buttom {
  margin-top: 22px;
  width: 149px;
  margin-left: 3px;
}
.form .info {
  min-width: 30%;
  background-color: var(--body-color);
  padding: 71px 35px 35px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}
.form .chape-one {
  background-color: #ed698a;
  position: absolute;
  width: 45px;
  height: 80px;
  display: block;
  bottom: 20px;
  right: 20px;
  border-radius: 50px 0 50px 0px;
}


/*!sssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss faq */

.faq .collapssss {
  padding: 20px;
  color: var(--text-color);
  margin-bottom: 20px;
  background: var(--input-color);
  border: 1px solid var(--searchBord-3);
  width: 100%;
  text-align: left;
  position: relative;
  border-bottom: 1px solid #d9d9d9
}
body.dark .faq .collapssss {
  border-bottom: 1px solid #4c4c4c
}
.faq .collapssss.active {
  background-color: var(--main-color);
  color: white;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}
.faq .collapssss i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 3%;
  color: var(--text-color);
  transition: 0.3s;
}
.faq .collapssss i.active {
  transform: rotate(180deg);
  top: 26px;
}

.faq .contacts {
  padding: 20px 29px;
  border-radius: 7px;
  border: 1px solid var(--searchBord-3);
  background: var(--input-color);
  margin-top: -30px;
  display: none;
  margin-bottom: 30px;
}
.faq .contacts.active {
  display: flex;
  flex-direction: column;
}
.faq .contacts p {
  color: var(--paragraph);
  margin-bottom: 13px;
}

/*!ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss Blogs*/

.blog {
  margin-top: 100px;
}
.blog .container {
  display: flex;
  gap: 30px;
}
.blog .latest {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0;
  max-width: 68%;
}
.blog .latest .main-holder {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 25px;
}
.blog .latest .next {
  color: var(--text-color);
}
.blog .latest .next ul {
  display: flex;
  gap: 10px;
}
.blog .latest .next li {
  border-radius: 4px;
  padding: 8px 18px;
  transition: 0.3s;
  background: var(--input-color);
  border: 1px solid var(--searchBord-3);
}
.blog .latest .next li:hover,
.blog .latest .next li.active {
  color: white;
  background-color: var(--main-color);
}
.blog-holder {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.blog-holder h6 {
  color: var(--text-color);
  margin-bottom: 17px;
}
.blog-holder .search {
  padding: 30px;
  background: var(--input-color);
  color: var(--text-color);
  box-shadow: 0px 0px 20px #00000012;
}
.blog-holder form {
  position: relative;
}
.blog-holder .search h5 {
  font-size: 16px;
  margin-bottom: 17px;
}
.blog-holder form input {
  width: 100%;
  height: 50px;
  padding: 13px;
  color: var(--text-color);
  border-radius: 4px;
  box-shadow: 0px 0px 20px #00000012;
  border: 1px solid var(--searchBord-3);
  background: var(--body-color);
  height: 58px;
}
.blog-holder form input:focus {
  outline: none;
  border: 1px solid var(--main-color);
}
.blog-holder form button {
  background: var(--main-color);
  border: none;
  color: white;
  width: 42px;
  height: 42px;
  border-radius: 4px;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
}
.blog-holder .blog2 {
  box-shadow: 0px 0px 20px #00000012;
  padding: 30px 30px 16px;
  background: var(--input-color);
}
.blog-holder .blog2 .box {
  display: flex;
  gap: 18px;
  align-items: center;
  margin-bottom: 25px;
}
.blog-holder .blog2 .box img {
  width: 80px;
  border-top-right-radius: 27px;
  border-top-left-radius: 9px;
}
.blog-holder .blog2 h4 {
  color: var(--text-color);
  font-size: 16px;
  margin-bottom: 17px;
}
.blog-holder .blog2 .box span {
  color: var(--paragraph);
  font-size: 14px;
}
.blog-holder .blog2 .box i {
  color: var(--paragraph);
  margin-right: 4px;
}
.blog-holder .blog3 {
  box-shadow: 0px 0px 20px #00000012;
  background: var(--input-color);
  padding: 30px;
}
.blog-holder .blog3 ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.blog-holder .blog3 li {
  color: var(--paragraph);
}
.blog-holder .blog3 li a {
  color: var(--paragraph);
  transition: 0.3s;
  margin-right: 5px;
}
.blog-holder .blog3 li a:hover {
  color: var(--main-color);
}
.blog-holder .blog4 {
  box-shadow: 0px 0px 20px #00000012;
  padding: 30px;
  background: var(--input-color);
}
.blog-holder .blog4 .tags {
  display: flex;
  flex-wrap: wrap;
}
.blog-holder .blog4 .tags a {
  color: var(--paragraph);
  font-size: 15px;
  padding: 11px 10px;
  border-radius: 5px;
  transition: 0.3s;
}
.blog-holder .blog4 .tags a:hover {
  color: white;
  background-color: var(--main-color);
}

/*!ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss BlogSingle*/

.blogSingle .container {
  background-color: var(--input-color);
  padding: 70px 40px;
  border: 1px solid var(--searchBord-3);
}
.blogSingle .holder > h3 {
  color: var(--text-color);
  font-size: 22px;
  margin-bottom: 20px;
}
.blogSingle p {
  color: var(--paragraph);
  margin-bottom: 25px;
}
.blogSingle .holder {
  display: flex;
  flex-direction: column;
}
.blogSingle .holder img {
  max-width: 85%;
  align-self: center;
  margin-bottom: 60px;
}
.blogSingle .holder .firstUl {
  display: flex;
  gap: 25px;
  margin: 4px 0 20px;
}
.blogSingle .holder .firstUl li {
  color: var(--paragraph);
}
.blogSingle .holder .firstUl li i {
  color: var(--main-color);
}
.blogSingle .holder .bigP {
  margin-bottom: 30px;
}
.blogSingle .holder .SecondUl {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.blogSingle .holder .SecondUl li {
  color: var(--paragraph);
  display: flex;
  align-items: center;
}
.blogSingle .holder .SecondUl li i {
  color: var(--main-color);
  margin-right: 7px;
  border: 1px solid var(--main-color);
  border-radius: 50px;
  padding: 2px 3px;
  font-size: 11px;
}
.blogSingle .holder .secondP {
  color: var(--paragraph);
  margin: 30px 0;
  letter-spacing: 0.3px;
}
.blogSingle .holder .icoDiv {
  padding: 40px 0 27px;
  border: 1px solid var(--searchBord-3);
  position: relative;
  margin: 35px 0 30px;
}
.blogSingle .holder .icoDiv i {
  position: absolute;
  font-size: 50px;
  color: var(--main-color);
  left: 50%;
  transform: translateX(-50%);
  top: -22px;
}
.blogSingle .holder .icoDiv h3 {
  font-size: 16px;
  text-align: center;
  margin-bottom: 15px;
  color: var(--text-color);
}
.blogSingle .holder .icoDiv p {
  text-align: center;
  margin-bottom: 7px;
}
.blogSingle .holder .smallHolder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blogSingle .holder .smallHolder div a {
    margin-right: 10px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    color: var(--text-color);
}
.blogSingle .holder .smallHolder div a:hover {
  color: var(--main-color);
}
.blogSingle .holder .smallHolder .follow i {
  border: none;
}
.blogSingle .holder .smallHolder .follow {
  gap: 5px;
}
.blogSingle .ReviewS {
  gap: 32px;
  background: var(--input-color);
  padding: 90px 117px 70px;
  display: flex;
  flex-direction: column;
}
.blogSingle .ReviewS h1 {
  color: var(--text-color);
  font-size: 22px;
  margin-bottom: 20px;
}
.blogSingle .ReviewS h3 {
  color: var(--text-color);
  font-size: 20px;
}
.blogSingle .ReviewS .card {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  border: none;
  margin-bottom: 40px;
  gap: 30px;
  position: relative;
}
.blogSingle .ReviewS .card.centerCard {
  align-self: center;
}
.blogSingle .ReviewS .card .replay {
  border: none;
  color: var(--paragraph);
  position: absolute;
  top: 5px;
  right: 8px;
  background: transparent;
  transition: 0.3s;
}
.blogSingle .ReviewS .card .replay:hover {
  color: var(--main-color);
}
.blogSingle .ReviewS .card img {
  width: 70px;
  border-radius: 50px;
  align-self: flex-start;
}
.blogSingle .ReviewS .card .text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.blogSingle .ReviewS .card .text h3 {
  font-size: 16px;
  color: var(--text-color);
}
.blogSingle .ReviewS .card .text p {
  font-size: 16px;
  color: var(--paragraph);
  margin-bottom: 3px;
}
.blogSingle .ReviewS .card .text p:last-child {
  margin-top: 10px;
}
.blogSingle .ReviewS .card .text .stars {
  color: var(--main-color);
  font-size: 12px;
}
.blogSingle .ReviewS .card .text .stars i {
  margin-right: 2px;
}
.blogSingle .contact {
  padding: 33px 35px 35px;
}
.blogSingle .contact h1 {
  color: var(--text-color);
  font-size: 17px;
  margin-bottom: 29px;
}
.blogSingle .contact {
  width: 100%;
}
.blogSingle .contact .textarea {
  margin-bottom: 28px;
}

/*!ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss blog-sidebar*/

.blog-sidebar {
  margin: 100px 0;
}
.blog-sidebar .container {
  gap: 30px;
  display: flex;
}
.blog-sidebar .blogSingle .bigBigHolder {
  padding: 30px;
  background: var(--input-color);
}
.blog-sidebar .blogSingle {
  max-width: 68%;
}
.blog-sidebar .blogSingle img {
  max-width: 100%;
}
.blog-sidebar .blogSingle .ReviewS {
  padding: 90px 16px 70px;
}
.blog-sidebar .blog-holder form input {
  color: var(--text-color);
  background: var(--body-color);
  height: 58px;
}
.blog-sidebar .blog-holder form input:focus {
  border: 1px solid var(--main-color);
  outline: none;
}

.blog-sidebar .blog-holder form button {
  right: 8px;
}

/*!ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss checkOut*/

.checkOut  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  overflow: hidden;
}
.checkOut input {
  height: 45px;
}
.checkOut .container {
  display: flex;
  gap: 90px;
  flex-direction: column;
}
.checkOut .Returning {
  border: 1px solid #d6d6d6;
  padding: 25px 20px;
  color: var(--text-color);
  margin-bottom: 30px;
  background: var(--body-color);
  box-shadow: 0px 0px 20px #00000012;
  border: 1px solid var(--searchBord-3);
}
.checkOut .Returning p a {
  color: var(--main-color);
}
.checkOut .Details {
  display: flex;
  gap: 30px;
}
.checkOut .Details h2 {
  font-weight: 500;
  margin-bottom: 20px;
}
.checkOut .collapssss {
  padding: 20px;
  color: var(--text-color);
  margin-bottom: 20px;
  background: var(--body-color);
  border: 1px solid var(--searchBord-3);
  width: 100%;
  text-align: left;
  position: relative;
}
.checkOut .collapssss.active {
  background-color: var(--main-color);
  color: white;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}
.checkOut .collapssss i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 3%;
  color: var(--text-color);
  transition: 0.3s;
}
.checkOut .collapssss i.active {
  transform: rotate(180deg);
  top: 22px;
}
.checkOut .form {
  padding-bottom: 120px;
  overflow: hidden;
  width: 70%;
}
.checkOut .form .container {
  color: white;
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.checkOut .form .select {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.checkOut .form .h2 {
  display: flex;
  gap: 70px;
  flex-direction: column;
}
.checkOut .form h2 {
  color: black;
  font-size: 28px;
  font-weight: 500;
}
.checkOut .form .contacts {
  padding: 20px 29px;
  border-radius: 7px;
  border: 1px solid var(--searchBord-3);
  background: var(--body-color);
  margin-top: -30px;
  display: none;
  margin-bottom: 30px;
}
.checkOut .form .contacts.active {
  display: flex;
  flex-direction: column;
}
.checkOut .form .contacts3 .cardImgHolder {
  position: relative;
}
.checkOut .form .contacts3 .cardImg {
  position: absolute;
  right: 16px;
  bottom: 13px;
  width: 70px;
}
.checkOut .form .contacts .input div {
  width: 100%;
}
.checkOut #Country {
  padding: 0 15px;
  border: 1px solid var(--searchBord-3);
  border-radius: 4px;
  outline: none;
  height: 45px;
  background: var(--input-color);
  color: var(--paragraph);
}
.checkOut .Country-label {
  margin-bottom: 10px;
}
.checkOut .form .contacts label {
  color: var(--text-color);
  font-size: 14px;
  margin: 0;
}
.checkOut .form .contacts .btndiv {
  display: flex;
  gap: 10px;
}
.checkOut .form .contacts .input {
  display: flex;
  gap: 35px;
  flex-direction: column;
  margin: 10px auto 30px;
}
.checkOut .form .contacts .input .first {
  display: flex;
  gap: 20px;
  align-items: flex-end;
}
.checkOut .form .contacts .input .first div {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.checkOut .form .contacts .input {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.checkOut .form .contacts .input input {
  padding: 13px 15px;
  border: 1px solid var(--searchBord-3);
  border-radius: 4px;
  outline: none;
  color: var(--text-color);
  background: var(--input-color);
}
.checkOut .form .contacts3 .input .first input {
  width: 100%;
}
.checkOut .form .contacts .input .second {
  display: flex;
  gap: 15px;
  flex-direction: column;
}
.checkOut .form .contacts .input .second div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.checkOut .form .contacts .input .therd {
  display: flex;
  gap: 20px;
}
.checkOut .form .contacts .input .therd div {
  gap: 10px;
  display: flex;
  flex-direction: column;
  width: 50%;
}
.checkOut .form .contacts .input input:focus {
  border: 1px solid var(--main-color);
}
.checkOut .form .contacts .textarea {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
}
.checkOut .form .contacts .check-dev {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 20px 0 5px;
}
.checkOut .form .contacts .textarea textarea {
  font-size: 16px;
  padding: 14px 22px;
  outline: none;
  border-radius: 4px;
  border: 1px solid #d6d6d6;
}
.checkOut .form .contacts .textarea textarea:focus {
  border: 1px solid var(--main-color);
}
.checkOut .form .contacts .main-buttom {
  margin-top: 0;
}
.checkOut .form .input .SelectDelivery {
  font-size: 14px;
  color: var(--text-color);
  margin-bottom: -5px;
}
.checkOut .form .input .visa {
  display: flex;
  justify-content: space-between;
}
.checkOut .form .input .visa button {
  background: var(--input-color);
  border: 1px solid var(--searchBord-3);
  padding: 7px;
  width: 24%;
  border-radius: 4px;
  transition: 0.5s;
}
.checkOut .form .input .visa button:focus {
  border: 1px solid var(--main-color);
}
.checkOut .form .input .visa button img {
  margin-bottom: 9px;
}
.checkOut .form .input .visa button h6 {
  font-size: 15px;
  color: var(--text-color);
  font-weight: 300;
  margin-bottom: 3px;
}
.checkOut .form .main-contact {
  display: flex;
  gap: 30px;
}
.checkOut .Details .Code {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 32%;
}
.checkOut .Details .Coupon {
  width: 27%;
  background: var(--body-color);
  padding: 26px;
  height: fit-content;
}
.checkOut .coodes {
  width: 32%;
}
.checkOut .Code .Coupon {
  width: 100%;
}
.coodes .container {
  padding: 0 !important;
  gap: 20px !important;
}
.checkOut .coodes .Code {
  width: 100%;
}

/*!ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss cart*/

.cart-page {
  margin: 100px 0 0;
}
.cart-page .container {
  background: var(--input-color);
  border: 1px solid var(--searchBord-3);
}
.cart-page .nav-putton {
  display: flex;
  justify-content: space-between;
  color: var(--text-color);
  padding: 30px 23px;
  border-bottom: 1px solid var(--searchBord-3);
}
body.dark .cart-page .nav-putton {
  border-bottom: 1px solid #525252;
}
.cart-page .nav-putton h4 {
  font-size: 16px;
}
.cart-page .cart-products .card {
  background: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  border-bottom: 1px solid var(--searchBord-3);
  padding: 20px 0px;
  border-radius: 0;
}
body.dark .cart-page .cart-products .card {
  border-bottom: 1px solid #525252;
}
.cart-page .cart-products .card:last-child {
  border-bottom: none !important;
}
.cart-page .cart-products .card .info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.cart-page .cart-products .card .info img {
  width: 120px;
}
.cart-page .cart-products .card .info .text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.cart-page .cart-products .card .info .text h5 {
  font-size: 16px;
  color: var(--text-color);
}
.cart-page .cart-products .card .info .text h6 {
  font-size: 16px;
  color: var(--paragraph);
}
.cart-page .cart-products h3 {
  font-size: 16px;
  color: var(--paragraph);
  text-align: center;
  position: relative;
  left: -10px;
}
.cart-page .cart-products h3.discount {
  width: 282px;
}
.cart-page .cart-products i {
  color: var(--main-color);
  font-size: 30px;
  cursor: pointer;
}
.cart-page .cart-products i.trash  {
  text-align: center;
  width: 143px;
}
.cart-page .icons { 
  display: flex;
  justify-content: center;
  position: relative;
  left: -16px;
}
.cart-page .icons i {
  color: var(--main-color);
  width: 31px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--main-color);
  font-size: 18px;
  transition: 0.3s;
}
.cart-page .icons i.decrement {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.cart-page .icons i.increment {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.cart-page .icons i:hover {
  color: white;
  background-color: var(--main-color);
}
.cart-page .icons span {
  width: 35px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
  color: var(--text-color);
}
.cart-page .price {

}
.cart-page .discount {

}
.Code .container {
  display: flex;
  justify-content: space-between;
  padding: 100px 0 0;
}
.cart-code .Code .Coupon {
  width: 35%;
}
.Code .Coupon {
  padding: 30px;
  background: var(--input-color);
  border: 1px solid var(--searchBord-3);
  height: fit-content;
}
.Code .Coupon .holder {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.Coupon .holder p {
  color: var(--text-color);
}
.Code .Coupon .holder .apply {
  border-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 23px 0;
}
.Code .Coupon .holder input {
  color: var(--text-color);
  padding: 13px 15px;
  border: 1px solid var(--searchBord-3);
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  outline: none;
  border-right: none;
  background: var(--input-color);
  width: 90%;
}
body.dark .Code .Coupon .holder input {
  border: 1px solid #525252;
}
.Code .Coupon .holder .ptn {
  display: flex;
}
.Coupon .product div:first-child {
  border-top: 1px solid var(--paragraph);
}
.Coupon .product div {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--paragraph);
  padding: 10px 0;
}
.Coupon .productsNameHolder {
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: 179px;
}
.Coupon .product div:last-child {
  border-bottom: none;
  margin-bottom: -8px;
}
.Coupon .product h6 {
  font-size: 15px;
  color: var(--text-color);
  margin-bottom: 10px;
}
.Coupon .product h5 {
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  color: var(--text-color);
  padding: 20px 0 0;
}
.Coupon .product div span {
  color: var(--paragraph);
  font-size: 14px;
  display: flex;
  gap: 7px;
}
.Coupon .product div span h6 {
  margin: 0;
  color: var(--paragraph);
}
.Coupon .product div .final-span {
  color: var(--main-color);
  font-weight: 600;
  font-size: 18px;
}
.Coupon .final {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.Coupon a {
  width: 100%;
  margin: 18px 0 0;
}

/*!ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss error - succes page */

.error-page {
  padding: 150px 0 50px
  ;
}
.error-page .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  gap: 25px;
}
.error-page .container h1 {
  color: var(--main-color);
  font-size: 169px;
  font-weight: 600;
  margin-bottom: -24px;
}
.error-page .container h3 {
  color: var(--text-color);
  font-size: 36px;
  font-weight: 600;
  margin-bottom: -5px;
}
.error-page .container p {
  color: var(--paragraph);
  max-width: 426px;
  text-align: center;
  font-size: 17px;
}
.error-page .container a {
  padding: 12px 30px;
  border-radius: 50px;
  background-color: var(--main-color);
  color: white;
  font-weight: 500;
}
header.sticky .dropdown-menu {
  transform: translate(0px, 55px) !important;
}
@media (max-width:786px) {
  .error-page .container h3 {
    text-align: center;
  }
}


































































@media (max-width: 1400px) {
  .nav-2 .hot-line {
    display: none !important;
  }
  .cart-page .cart-products i.trash {
    width: 53px;
  }
}
@media (max-width: 1200px) {
  .header .nav-2 .searsh-content .search1 {
    width: 190px;
  } 
  .cart-page .cart-products h3.discount {
    width: 235px;
  }
}


@media (min-width: 992px) {
  .landing .right .holder-2 {
    height: 100%;
  }
  .landing .right .holder img {
    width: 30%;
  }
}


@media (max-width: 992px) {
  .landing .container {
    flex-direction: column;
  }
  .landing .left {
    max-width: 100%;
  }
  .landing .right {
    flex-direction: row;
  } 
  .landing .left .card div h3 {
    max-width: 353px; 
  }
  .landing .left .card div p {
    max-width: 321px; 
  }
  .landing .right .holder {
    padding: 30px;
    width: 50%;
  }
  .landing .right .holder-2 {
    height: 265px;
  }
  .categories .card {
    padding: 0 18px 0 30px;
  }
  .banner .container {
    flex-direction: column;
  }
  .banner .card {
    width: 100%;
  }
  .banner .card .img1 {
    opacity: 0.3;
  }
  .offer .container {
    flex-direction: column;
    gap: 30px;
  }
  .offer .bigHolder {
    width: 100%;
  }
  .offer .sale {
    width: 100%;
  }
  .offer .bigHolder .new {
    padding-right: 28px;
  }
  .offer .sale .image {
    display: flex;
    justify-content: center;
  }
  .offer .sale a {
    font-size: 21px;
    padding: 8px 0;
  }
  .offer .sale span {
    font-size: 26px;
  }
  .offer .sale p {
    max-width: 543px;
  }
  .sale .review {
    font-size: 20px;
  }
  .grid .container {
    flex-direction: column;
    gap: 50px;
  }
  .grid .container .video .iframe {
    width: 100%;
    height: 39%;
  }
  .grid .image {
    width: 90%;
  }
  .grid .text h3 {
    max-width: none;
  }
  .team {
    padding-top: 0;
  }
  .form .container {
    flex-direction: column-reverse;
    gap: 30px;
  }
  .form .info-contact {
    width: 50%;
    align-self: flex-start;
  }
  .form .contact {
    width: 100%;
  }
  .blog .container {
    flex-direction: column;
    gap: 110px;
  }
  .blog .latest {
    max-width: none;
  }
  .checkOut .collapssss i {
    right: 5%;
  }
  .checkOut .form .contacts .input .therd div,
  .checkOut .form .contacts .input .first div {
    width: 48%;
  }
  .checkOut .Details {
    flex-direction: column-reverse;
  }
  .Code .container {
    flex-direction: row;
  }
  .checkOut .form {
    width: 100%;
  }
  .checkOut .form {
    padding-bottom: 0;
  }
  .checkOut .Details .Code {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 26px;
    width: 100%;
    justify-content: flex-end;
  }
  .checkOut .Code .Coupon {
    height: fit-content;
    width: 48%
  }
  .checkOut .Code .Coupon .holder input {
    width: 100%;
  }
  .cart-page .cart-products .card .info {
    padding: 0;
  }
  .cart-page .cart-products .card .info .text h5 {
    font-size: 14px;
  }
  .cart-page .cart-products .card .info img {
    width: 80px;
  }
  .Code .Coupon {
    width: 48% !important;
  }
  .cart-page .icons {
    margin-right: 33px;
  }
  .blogSingle .ReviewS {
    padding: 90px 35px 50px;
  }
  .blog-sidebar .contact .input {
    flex-direction: column;
  }
  .blog-sidebar .contact .input div {
    width: 100%;
  }
  .header .nav-2 .holder {
    display: none;
  }
  .checkOut .coodes {
    width: 100%;
  }
  .Code .Coupon .holder .apply {
    padding: 26px 0;
  }
  .checkOut .Code .Coupon .holder .apply {
    padding: 23px 0;
  }
  .checkOut {
    padding: 70px 0;
  }
  .cart-page .cart-products .card .info .text {
    width: 156px;
  }
  .cart-page .icons {
    display: flex;
    justify-content: center;
    width: 150px;
    align-items: center;
    margin: 0;
  }
  .cart-page .cart-products h3 {
    left: 0;
  }
  .cart-page .cart-products h3.discount {
    width: 197px;
    position: relative;
    left: 15px;
    text-align: center;
  }
  .cart-page .cart-products i.trash {
    width: 67px;
}
}

@media (max-width: 768px) {
  .main-title p {
    max-width: 333px !important;
  }
  .landing .right {
    flex-direction: column;
  }
  .landing .left .card div p {
    max-width: 190px;
  } 
  .landing .left .card div a {
    margin-top: 0;
  }
  .landing .left .card div h3 {
    max-width: 230px;
    font-size: 20px;
  } 
  .landing .left .card div h5 span {
    font-size: 21px; 
  }
  .landing .left .card {
    height: 450px;
  }
  .landing .right .holder {
    width: 100%;
    padding: 18px 30px;
  } 
  .landing .right .holder .div2 {
    margin: 18px 0px;
  }
  .landing .left .card img {
    width: 80%;
    z-index: 2;
    position: absolute;
    right: -148px;
  }
  .landing .left .card {
    padding: 0 30px;
  }
  .offer .sale p {
    font-size: 14px;
  }
  .sale .review {
    align-items: center;
  }
  .offer .bigHolder .new {
    flex-direction: column;
  }
  .offer .bigHolder .new img {
    width: 100%;
  }
  .offer .bigHolder .new .text {
    align-items: center;
  }
  .offer .bigHolder .new .nvidia {
    width: 20%;
  }
  .offer .bigHolder .new .text p {
    text-align: center;
    margin: 6px 0 0px;
  }
  .offer .sale h2 { 
    font-size: 17px;
  }
  .brands {
    display: none;
  }
  .latest {
    padding-top: 0px;
  }
  .grid .container .video .iframe {
    height: 26%;
  }
  .form .info-contact {
    width: 100%;
  }
  .blog .latest .next li {
    padding: 8px 16px;
  }
  .checkOut .form .input .visa {
    flex-wrap: wrap;
    gap: 10px;
  }
  .checkOut .form .input .visa button {
    width: 48%;
  }
  .checkOut .Code .Coupon {
    width: 100%;
  }
  .cart-page .nav-putton {
    display: none;
  }
  .cart-page .cart-products .card {
    flex-direction: column;
    align-items: flex-start;
  }
  .Code .container {
    flex-direction: column;
    gap: 30px;
    padding: 100px 18px;
  }
  .Code .Coupon {
    width: 100% !important;
    flex-direction: column;
    gap: 30px;
  }
  .cart-page .cart-products .card .info img {
    width: 150px;
  }
  .cart-page .cart-products .card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cart-page .icons {
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
  }
  .cart-page .price {
    margin: 0;
    margin-bottom: 15px;
  }
  .cart-page .discount {
    margin: 0;
    margin-bottom: 10px;
  }
  .cart-page {
    padding: 20px;
  }
  .cart-page .cart-products .card .info {
    position: relative;
    right: 0px;
  }
  .cart-page .icons,
  .cart-page .cart-products h3.discount {
    left: 0;
  }
  
  .blogSingle .container {
    padding: 47px 30px;
    border-radius: 0;
  }
  .blogSingle .holder img {
    max-width: 100%;
  }
  .blogSingle .holder .firstUl {
    flex-wrap: wrap;
  }
  .blogSingle p,
  .blogSingle h3 {
    text-align: center;
  }
  .blogSingle .holder .icoDiv h3 {
    line-height: 1.7;
  }
  .blogSingle .holder .smallHolder {
    flex-direction: column;
    gap: 12px;
  }
  .blogSingle .ReviewS {
    padding: 53px 0px;
  }
  .blogSingle .ReviewS .card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .blogSingle .ReviewS .card img {
    align-self: center;
  }
  .blogSingle .ReviewS .card .text .stars {
    display: flex;
    align-self: center;
  }
  .blogSingle .ReviewS .card .replay {
    top: 23px;
  }
  .contact .input {
    flex-direction: column;
  }
  .contact .input div {
    width: 100%;
  }
  .blog-sidebar .container {
    flex-direction: column-reverse;
  }
  .blog-sidebar .blogSingle {
    max-width: none;
  }
  .blog-sidebar {
    margin: 0;
  }
}


@media (max-width: 600px) {
  .grid .container .video .iframe {
    height: 32%;
  }
  .form .contact .input {
    flex-direction: column;
  }
  .form .contact .input div {
    width: 100%;
  }
  .form .main-buttom {
    width: 100%;
  }
  .blog .latest .next li {
    padding: 8px 15px;
  }
  .footer .top-footer input {
    max-width: 60%;
  }
}
