.nav-4 {
  display: flex;
}
.shop .container {
  display: flex;
  flex-direction: column;
  gap: 96px;
  overflow: hidden;
  padding-top: 35px;
}

.shop .cont .categories h4 {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  color: var(--text-color);
}
.shop .cont .categories span {
  color: var(--paragraph);
  font-size: 14px;
}
.shop .cont .categories .type {
  border-radius: 7px;
  box-shadow: 0px 0px 20px #00000012;
  padding: 24px;
  padding-bottom: 15px;
  margin-bottom: 24px;
  background: var(--input-color);
}
.shop .cont .categories .type .holder {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}
.shop .cont .categories .type a {
  color: var(--paragraph);
  font-weight: 400;
  font-size: 15px;
  transition: 0.3s;
}
.shop .cont .categories .type a:hover {
  color: var(--main-color);
  margin-left: 5px;
}
.shop .cont .categories .customizs {
  border-radius: 7px;
  box-shadow: 0px 0px 20px #00000012;
  padding: 1px 24px 15px;
  background: var(--input-color);
}
.wrapper p {
  color: var(--paragraph);
  font-size: 14px;
  text-transform: capitalize;
}
.range-place {
  margin: 25px 0;
}
.price-input{
  width: 100%;
  display: flex;
  margin: 12px 0;
}
.price-input .field{
  display: flex;
  width: 100%;
  height: 45px;
  align-items: center;
  gap: 15px;
}
.field input {
  width: 100%;
  height: 65%;
  outline: none;
  font-size: 13px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #999;
  -moz-appearance: textfield;
  color: var(--text-color);
}
body.dark .field input {
    background: transparent;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.price-input .separator{
  width: 65px;
  display: flex;
  font-size: 19px;
  align-items: center;
  justify-content: center;
  color: var(--paragraph);
}
.slider{
  height: 5px;
  position: relative;
  background: #ddd;
  border-radius: 5px;
}
.slider .progress{
  height: 100%;
  left: 25%;
  right: 25%;
  position: absolute;
  border-radius: 5px;
  background: var(--main-color);
}
.range-input{
  position: relative;
}
.range-input input{
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type="range"]::-webkit-slider-thumb{
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: var(--main-color);
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0,0,0,0.05);
}
input[type="range"]::-moz-range-thumb{
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background: var(--main-color);
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0,0,0,0.05);
}
.shop .cont .categories .customizs .price {
  margin: 10px 0 22px;
  display: block;
  color: var(--paragraph);
}
.shop .cont .categories .customizs label {
  color: var(--paragraph);
}
.filter-place {
  margin-bottom: 30px;
}
.filter-place ul li i {
  color: white;
  background-color: white;
  font-size: 18px;
  width: 14px;
  height: 14px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--text-color);
}
.filter-place ul li.active i {
  color: white;
  background-color: var(--main-color);
  border: none;
}
.filter-place ul li {
    color: var(--paragraph);
    display: flex;
    align-items: center;
    gap: 7px;
    margin-bottom: 4px;
    cursor: pointer;
}
.shop .cont .categories .customizs .last-h4 {
  margin-top: 16px;
  margin-bottom: 14px;
}
.shop .cont .categories .customizs .color {
  display: flex;
  gap: 8px; 
  align-items: center;
  margin-bottom: 8px;
}
.shop .cont .categories .customizs .color h5 {
  font-weight: 400;
  font-size: 16px;
  color: var(--paragraph);
}
.shop .cont .categories .customizs .color span {
  top: 0;
  left: 0;
  position: relative;
  border-radius: 50px;
  display: flex;
  width: 14px;
  height: 14px;
}
.shop .cont .categories .customizs .color .red {
  background-color: #dc3545;
}
.shop .cont .categories .customizs .color .green {
  background-color: #28a745;
}
.shop .cont .categories .customizs .color .blue {
  background-color: #17a2b8;
}
.shop .cont .categories .customizs .color .purple {
  background-color: #7971ea;
}
.shop .cont  {
  display: flex;
  gap: 30px;
}
.shop .latest {
  padding: 0;
}
.shop .cont .btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shop .cont .btns h3 {
  font-weight: 300;
  letter-spacing: 0.2px;
  font-family: sans-serif;
  text-transform: capitalize;
  color: var(--text-color);
}
.shop .cont .btns .ptn-holder {
  font-size: 14px;
  padding: 14px 18px;
  border: none;
  position: relative;
  transition: 0.3s;
  background: var(--input-color);
  color: var(--text-color);
}
.main-card strong {
  display: none;
}
.main-card .holder {
  padding: 0 28px;
}
.shop .main-card .holder .ptext {
  display: none;
}
.shop .main-card .holder h3 {
  transition: 0.3s;
}
.shop .main-card .holder h3:hover {
  color: var(--main-color);
}
.shop .main-card.list-system .ptext {
  display: block;
  max-width: 500px;
  margin: 10px 0;
}
.shop .cont .btns .ptn-holder:hover {
  background-color: var(--main-color);
}
.shop .cont .btns .ptn-holder .ptn-ul {
  position: absolute;
  background: var(--input-color);
  padding: 15px;
  display: flex;
  font-size: 16px;
  flex-direction: column;
  gap: 5px;
  min-width: 174px;
  text-align: left;
  z-index: 100;
  top: 65px;
  left: -3px;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}
.ptn-holder .ptn-ul li {
  transition: 0.3s;
}
.ptn-holder .ptn-ul li:hover {
  color: var(--main-color);
}
.shop .cont .btns .puttons select {
  background: var(--input-color);
  color: var(--text-color);
  border: none;
  cursor: pointer;
}
.shop .cont .btns .puttons select:focus {
  outline: none;
}
.shop .cont .btns .puttons select option {
  color: var(--text-color);
  background-color: var(--input-color);
  padding: 20px;
}
.shop .cont .btns .puttons a {
  color: var(--paragraph);
  margin-bottom: 11px;
  display: block;
  transition: 0.3s;
}
.shop .cont .btns .puttons h4 {
  font-size: 14px;
  padding: 14px 18px;
  background: var(--input-color);
  color: var(--text-color);
}
.shop .cont .btns .puttons a:hover {
  color: var(--main-color);
  margin-left: 5px;
}
.shop .ptn-ul.active  {
  color: white !important;
  top: 49px !important;
  z-index: 150 !important;
  opacity: 1 !important;
  visibility: inherit !important;
}
.shop .shop-all {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.shop .shop-all .puttons::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 34%;
  transform: translateX(-50%);
  width: 2px;
  height: 100%;
  background-color: var(--main-color);
  z-index: 50;
}
.shop .shop-all .puttons {
  box-shadow: 0px 0px 20px #00000012;
  display: flex;
  position: relative;
}
.shop .shop-all .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(223px, 1fr));
  gap: 18px;
  margin-top: -10px;
}
.shop .shop-all .cards.list-system {
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

.shop-all .main-card.list-system {
  display: flex;
  align-items: center;
  padding: 22px 30px;
  flex-direction: row !important;
  gap: 40px;
}
.shop-all .main-card .image.list-system {
  width: 31%;
}
.shop .grids i {
  color: var(--text-color);
  font-size: 22px;
  padding: 8px 8px;
  border-radius: 3px;
  margin-left: 7px;
  background: var(--input-color);
  cursor: pointer;
}
.shop .grids i:first-child {
  padding: 5px 8px;
}
.shop .grids i.active {
  background: var(--main-color);
  color: white;
}
.shop  .num {
  gap: 7px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.main-card h4 {
  padding: 0px 28px 28px;
  margin-top: 5px;
  min-width: 124px;
}
.shop .num a {
  border-radius: 50px;
  padding: 8px 16px;
  font-family: auto;
  color: var(--text-color);
  background: var(--input-color);
  font-size: 17px;
  font-weight: bolder;
  transition: 0.3s;
}
.shop .num a.active,
.shop .num a:hover {
  background: var(--main-color);
  color: white;
}
.active-ico {
  background-color: var(--main-color);
  color: white !important;
}

@media (max-width:1700px) { 
  .categoriesHolder.active .categories {
    width: 23% !important;
  }
}
@media (max-width:1600px) { 
  .categoriesHolder.active .categories {
    width: 25% !important;
  }
}
@media (max-width:1500px) { 
  .categoriesHolder.active .categories {
    width: 26% !important;
  }
}
@media (max-width:1400px) { 
  .categoriesHolder.active .categories {
    width: 24% !important;
  }
}
@media (max-width:1300px) { 
  .categoriesHolder.active .categories {
    width: 26% !important;
  }
}
@media (max-width:1200px) { 
  .shop .cont .categoriesHolder.active {
    width: 60% !important;
  }
  .categoriesHolder.active .categories {
    width: 30% !important;  }
}
@media (max-width:1100px) { 
  .categoriesHolder.active .categories {
    width: 32% !important;
  }
}
@media (max-width:1000px) { 
  .categoriesHolder.active .categories {
    width: 36% !important;
  }
}
@media (max-width:991px) {
  .shop .cont {
    gap: 22px;
  }
  .shop .shop-all .card {
    width: 237px;
  }
  .shop-all .main-card .image.list-system {
    width: 48%;
  }
  .shop .main-card.list-system .ptext {
    display: none;
  } 
  .shop-all .main-card.list-system {
    gap: 0;
  }
  .grids {
    display: none;
  }
  .shop .shop-all .cards {
    gap: 17px;
  }
  .shop .cont .categories h4 {
    font-size: 13px;
  }
  .shop .cont .categories .type a,
  .shop .cont .categories span {
    font-size: 11px;
  }
  .price-input .field {
    gap: 6px;
  }
  .field input {
    height: 25px;
    font-size: 10px;
  }
}

@media (min-width:800px) { 
  .shop .cont .categoriesHolder {
    display: flex;
    align-items: flex-start;
  }
  .shop .cont .categoriesHolder.active {
    position: relative;
    width: 43%;
  }
  .categoriesHolder.active .categories {
    width: 20%;
    position: fixed;
    z-index: 90;
    top: 30px;
  }
  .shop .cont .categoriesHolder.delete {
    display: flex;
    align-items: flex-end;
    bottom: 30px;
  }
  .categoriesHolder.delete .categories {
    position: relative !important;
    width: 100% !important;
  }
}
@media (max-width:768px) {
  .shop .container {
    padding-top: 33px;
  }
  .shop .container {
    gap: 65px;
  }
  .shop .cont {
    flex-direction: column;
  }
  .shop .cont .categories {
    width: 100%;
  }
  .shop .cont {
    gap: 58px;
  }
  .shop .shop-all .card {
    width: 100%;
  }
  .grids {
    display: none;
  }
  .shop .cont .categories .type a, .shop .cont .categories span {
    font-size: 14px;
  }
}